{
    "name": "{{ lystoreVersion }}",
    "config": {
        "main" : "fr.openent.lystore.Lystore",
        "port" : 8140,
        "app-name" : "Lystore",
        "app-address" : "/lystore",
        "app-icon" : "https://{{ host }}/lystore/public/img/logo.png",
        "host": "https://{{ host }}",
        "ssl" : true,
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "sql": true,
        "entcore.port" : 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 18
                },
                "LIBELLE_SERVICE": {
                    "default": "SERVICE_COLLECTIVITE"
                }
            }
        },
        {% if slack is defined %}"slack": {{ slack }},{% endif %}
        "db-schema": "lystore",
        "exports" : {
            "template-path" : "./public/template/pdf/"
        },
        "mail": {
            "enableMail": {{ lystoreEnableMail }},
            "domainMail": "{{ lystoreDomainMail | default('') }}",
            "notificationMail": "{{ lystoreNotificationMail | default('') }}",
            "notificationHelpDeskMail": "{{ lystoreNotificationHelpDeskMail | default('') }}",
            "notificationHelpDeskReceiver": "{{ lystoreNotificationHelpDeskReceiver | default('') }}"
        },
        "node-pdf-generator" : {
             "pdf-connector-id": "exportpdf",
                "auth": "{{ nodePdfToken }}",
                "url" : "{{ nodePdfUrl }}"
             },
        "region-type-name":  {{ lystoreRegionTypeName  | default('lystore.config.region.type.name') }}

    }
}