<div ng-controller="PurseController as vm" class="purse-management">

    <div class="tools right-magnet eleven-mobile">
        <button class="five-mobile" ng-click="vm.openPurseImporter()"><i18n>lystore.campaign.purse.import</i18n></button>
        <button class="five-mobile" ng-click="vm.exportPurses(vm.campaign.id)"><i18n>lystore.campaign.purse.export</i18n></button>
            <button class="five-mobile" ng-click="vm.checkPurses(vm.campaign.id)"><i18n>lystore.campaign.check.purses</i18n></button>
    </div>

    <div class="six centered twelve-mobile">
        <h1 class="centered-text">[[vm.campaign.name]]</h1>

        <article class="responsive-table vertical-array-scroll">
            <table class="twelve">
                <thead>
                    <td workflow="lystore.administrator">
                        <label class="checkbox">
                            <input type="checkbox"
                                   ng-change="vm.switchAll(vm.campaign.purses)"
                                   ng-model="allPurseSelected">
                            <span></span>
                        </label>
                    </td>
                    <td ng-click="vm.sort.purse.type = 'uai';
                        vm.sort.purse.reverse = !vm.sort.purse.reverse">
                        <i18n>UAI</i18n>
                        <i class="up-open" ng-show="vm.sort.purse.type === 'uai' && !vm.ort.purse.reverse"></i>
                        <i class="down-open" ng-show="vm.sort.purse.type === 'uai' && vm.sort.purse.reverse"></i>
                    </td>
                    <td ng-click="vm.sort.purse.type = 'name';
                        vm.sort.purse.reverse = !vm.sort.purse.reverse">
                        <i18n>name</i18n>
                        <i class="up-open" ng-show="vm.sort.purse.type === 'name' && !vm.sort.purse.reverse"></i>
                        <i class="down-open" ng-show="vm.sort.purse.type === 'name' && vm.sort.purse.reverse"></i>
                    </td>
                    <td ng-click="vm.sort.purse.type = 'amount';
                        vm.sort.purse.reverse = !vm.sort.purse.reverse">
                        <i18n>lystore.campaign.purse</i18n>
                        <i class="up-open" ng-show="vm.sort.purse.type === 'amount' && !vm.sort.purse.reverse"></i>
                        <i class="down-open" ng-show="vm.sort.purse.type === 'amount' && vm.sort.purse.reverse"></i>
                    </td>
                    <td ng-click="vm.sort.purse.type = 'initial_amount';
                        vm.sort.purse.reverse = !vm.sort.purse.reverse">
                        <i18n>lystore.campaign.purse.init</i18n>
                        <i class="up-open" ng-show="vm.sort.purse.type === 'initial_amount' && !vm.sort.purse.reverse"></i>
                        <i class="down-open" ng-show="vm.sort.purse.type === 'initial_amount' && vm.sort.purse.reverse"></i>
                    </td>
                    <td ng-click="vm.sort.purse.type = 'total_order';
                        vm.sort.purse.reverse = !vm.sort.purse.reverse">
                        <i18n>lystore.campaign.purse.total_order</i18n>
                        <i class="up-open" ng-show="vm.sort.purse.type === 'total_order' && !vm.sort.purse.reverse"></i>
                        <i class="down-open" ng-show="vm.sort.purse.type === 'total_order' && vm.sort.purse.reverse"></i>
                    </td>
                    <td ng-show="vm.isChecked"><i18n>difference</i18n></td>
                </thead>
                <tbody>
                <tr ng-repeat="purse in vm.campaign.purses.all | orderBy:vm.sort.purse.type:vm.sort.purse.reverse"
                ng-class="{'tr-warning': purse.substraction !== undefined && purse.substraction !== 0 && !purse.bigDifference,
                          'tr-error': purse.substraction !== undefined && purse.substraction !== 0 &&  purse.bigDifference,
                           'tr-valid': purse.substraction !== undefined && purse.substraction === 0 }">
                    <td workflow="lystore.administrator">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="purse.selected">
                            <span></span>
                        </label>
                    </td>
                    <td>[[purse.structure.uai]]</td>
                    <td>[[purse.structure.name]]</td>
                    <td><span ng-bind="purse.amount | currency"></span></td>
                    <td><span ng-bind="purse.initial_amount | currency"></span></td>
                    <td><span ng-bind="purse.total_order | currency"></span></td>
                    <td ng-show="vm.isChecked">[[purse.substraction | currency]]  <i ng-class="{'warning-icon':purse.substraction !== 0 ,
                        'valid-icon':purse.substraction === 0 }"></i></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <lightbox show="vm.lightbox.open" on-close="vm.cancelPurseForm()">
        <container template="purse.lightbox"></container>
    </lightbox>

    <section class="toggle-buttons" ng-class="{ hide: vm.campaign.purses.selected.length === 0 || vm.campaign.purses.selected.length > 1}">
        <div class="toggle">
            <div class="row">
                <button ng-click="vm.openEditPurseForm(vm.campaign.purses.selected[0])" ng-show="vm.campaign.purses.selected.length === 1">
                    <i18n>modify</i18n>
                </button>
            </div>
        </div>
    </section>
</div>