<table class="twelve">
    <thead>
    <td ng-click="sort.title.type = 'name';
                        sort.title.reverse = !sort.title.reverse">
        <i18n>name</i18n>
        <i class="up-open" ng-show="sort.title.type === 'name' && !sort.title.reverse"></i>
        <i class="down-open" ng-show="sort.title.type === 'name' && sort.title.reverse"></i>
    </td>
    <td ng-click="sort.purse.type = 'name';
                        sort.purse.reverse = !sort.purse.reverse">
        <i18n>lystore.campaign.titles</i18n>
    </td>
    </thead>
    <tbody>
    <tr ng-repeat="structure in campaign.titles.all | orderBy:sort.title.type:sort.title.reverse">
        <td>[[structure.name]]</td>
        <td>
            <div class="select-blocks">
                <div ng-repeat="title in structure.titles"
                     ng-click="openDeleteConfirmation(structure, title)"
                     class="labels-in-ligne">
                    <div> [[ title.name ]]</div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>