<div style="height: 200px;">
    <form>
        <div class="row">
            <label class="twelve">
            <span class="twelve cell twelve-mobile">
                <h2><i18n ng-show="newLabel.id === undefined">lystore.operation.label.title.create</i18n><i18n ng-show="newLabel.id !== undefined">lystore.operation.label.title.modify</i18n></h2>
            </span>
                <br/>
                <!--            <select  ng-model="operation.id_label" class="twelve"-->
                <!--                     ng-init="operation.id_label = operation.id_label || (labelOperation.all.length > 0 ? labelOperation.all[0].id : null)"-->
                <!--                     ng-options="LabelOperation.id as LabelOperation.label for LabelOperation in labelOperation.all" required>-->
                <!--            </select>-->
            </label>
            <div>
                <i18n>lystore.operation.label.name</i18n>
                <input
                        class="input-form-label-operation"
                        type="text"
                        ng-model="newLabel.label"
                        disabled="true"
                        ng-if="newLabel.is_used > 0"
                />
                <input
                        class="input-form-label-operation"
                        type="text"
                        ng-model="newLabel.label"
                        ng-if="newLabel.is_used === 0 || newLabel.id === undefined"
                />

            </div>

            <div class="warning" ng-show="!isValidLabelName(newLabel)">
                <i18n>operation.label.form.warning</i18n>
            </div>

            <div class="warning" ng-show="!isValidLabelLength(newLabel)">
                <i18n>operation.label.length.form.warning</i18n>
            </div>

            <div class="twelve cell" ng-init="initLabelDate(newLabel)" style="margin-top: 10px;">
                <i18n>lystore.operation.label.start_date</i18n>
                <date-picker ng-model="newLabel.start_date">
                </date-picker>
                <i18n>lystore.operation.label.end_date</i18n>
                <date-picker ng-model="newLabel.end_date">
                </date-picker>
            </div>
                <br/> <br/> <br/>
            <div class="warning" ng-if="!isValidLabelDate(newLabel)">
                <i18n>operation.label.date.form.warning</i18n>
            </div>

            <div class="warning" ng-if="!isValidLabelDateUsed(newLabel)">
                <i18n>operation.label.date.form.warning2</i18n>
            </div>
        </div>
        <div class="right-magnet vertical-spacing">
            <input type="button" class="cancel" ng-click="cancelLabelForm()" i18n-value="cancel"/>
            <input type="button" class="button" ng-disabled="!validLabelForm(newLabel)" ng-click="validLabel(newLabel)" i18n-value="confirm"/>
        </div>
    </form>
</div>