<div style="height: 300px;">
    <form>
        <div class="row">
            <label class="twelve">
            <span class="twelve cell twelve-mobile">
                <h2><i18n>lystore.operation.label.title.create</i18n></h2>
            </span>
                <br/>
                <!--            <select  ng-model="operation.id_label" class="twelve"-->
                <!--                     ng-init="operation.id_label = operation.id_label || (labelOperation.all.length > 0 ? labelOperation.all[0].id : null)"-->
                <!--                     ng-options="LabelOperation.id as LabelOperation.label for LabelOperation in labelOperation.all" required>-->
                <!--            </select>-->
            </label>
            <div>
                <i18n>lystore.operation.label.name</i18n>
                <input type="text" ng-model="newLabel.label" />
            </div>

            <div class="warning" ng-show="!validLabelForm(newLabel)">
                <i18n>operation.label.form.warning</i18n>
            </div>

            <div class="twelve cell" style="margin-top: 10px;">
                <i18n>lystore.operation.label.start_date</i18n>
                <date-picker i18n-placeholder="lystore.instruction.date.place_holder" ng-model="newLabel.start_date">
                </date-picker>
                <i18n>lystore.operation.label.end_date</i18n>
                <date-picker i18n-placeholder="lystore.operation.label.date.place_holder" ng-model="newLabel.end_date">
                </date-picker>
            </div>

            <div class="warning" ng-show="!isValidLabelDate(newLabel)">
                <i18n>operation.label.date.form.warning</i18n>
            </div>
        </div>
        <div class="right-magnet vertical-spacing">
            <input type="button" class="cancel" ng-click="cancelLabelForm()" i18n-value="cancel"/>
            <input type="button" class="button" ng-disabled="!validLabelForm(newLabel)" ng-click="validLabel(newLabel)" i18n-value="confirm"/>
        </div>
    </form>
</div>