<div class="parameter">
    <!--Title-->
    <h1 class="parameter-title">
        <i18n>lystore.parameter.title</i18n>
    </h1>
    <div class="twelve tabs vertical-spacing heading-tabs zero-mobile">
        <header class="horizontal-spacing" ng-click="vm.redirectToHref('/lystore#')"
                workflow="lystore.administrator">
            <i18n>lystore.access</i18n>
        </header>
        <header class="horizontal-spacing" ng-click="vm.redirectTo('/')"
              >
            <i18n>lystore.goTo.active.structure</i18n>
        </header>
        <header class="horizontal-spacing" ng-click="vm.redirectTo('/parameter#')"
               >
            <i18n>lystore.goTo.parameters</i18n>
        </header>
    </div>

    <div class="row">
        <div class="loading-bar" ng-class="{loading: loadingArray}"></div>
    </div>
    <div ng-if="loadingArray">
        <h1><i18n>lystore.loading</i18n></h1>
    </div>
    <container ng-show="!loadingArray" template="parameter"></container>
</div>
