<div class="parameter"  ng-controller="ActiveStructureController as vm">
    <h1 class="parameter-title">
        <i18n>lystore.goTo.active.structure</i18n>
    </h1>

    <div class="row">
        <input type="text" class="twelve cell" i18n-placeholder="lystore.parameter.structure.search"
               ng-model="vm.filter.value">
    </div>

    <div class="row">
        <div class="loading-bar" ng-class="{loading: vm.loadingArray}"></div>
    </div>
    <div ng-if="vm.loadingArray">
        <h1><i18n>lystore.loading</i18n></h1>
    </div>
    <div  ng-show="!vm.loadingArray"  class="responsive-table">
        <!--Table-->
        <table class="twelve">
            <thead>
            <tr>
                <th  ng-click="vm.filter.property = 'uai'; vm.filter.desc = !vm.filter.desc">
                    <span class="sortable">
						<span class="icons right-spacing">
							<i class="arrow" ng-class="{'icon-off': !(vm.filter.property === 'uai' && !vm.filter.desc)}"></i>
							<i class="arrow bottom"
                               ng-class="{'icon-off': !(vm.filter.property === 'uai' && vm.filter.desc)}"></i>
						</span>
						<span><i18n>lystore.uai</i18n></span>
					</span>
                </th>
                <th  style="text-align: left"
                    ng-click=" vm.filter.property = 'name'; vm.filter.desc = !vm.filter.desc">
                    <span class="sortable">
						<span class="icons right-spacing">
							<i class="arrow" ng-class="{'icon-off': !(vm.filter.property === 'name' && !vm.filter.desc)}"></i>
							<i class="arrow bottom"
                               ng-class="{'icon-off': !(vm.filter.property === 'name' && vm.filter.desc)}"></i>
						</span>
						<span><i18n>lystore.name</i18n></span>
					</span>
                </th>
                <th  ng-click="vm.filter.property = 'number_deployed'; vm.filter.desc = !vm.filter.desc">
                    <span class="sortable">
						<span class="icons right-spacing">
							<i class="arrow"
                               ng-class="{'icon-off': !(vm.filter.property === 'number_deployed' && !vm.filter.desc)}"></i>
							<i class="arrow bottom"
                               ng-class="{'icon-off': !(vm.filter.property === 'number_deployed' && vm.filter.desc)}"></i>
						</span>
						<span><i18n>lystore.state</i18n></span>
					</span>
                </th>
                <th ></th>
                <th ></th>
            </tr>
            </thead>

            <tbody class="parameter-table-body">
            <tr ng-repeat="item in vm.structureLystoreLists|filter:vm.match()|orderBy:vm.filter.property:vm.filter.desc"
                style="height: 40px;">
                <th style="text-align: left; text-indent: 10px;">[[item.uai]]</th>
                <th style="text-align: left; text-indent: 10px;">[[item.name]]</th>
                <th>
                    <span ng-if="item.deployed">
                        <i class="validated-icon-large"></i>
                    </span>
                </th>
                <th>
                    <dots-menu style="text-align: left">
                        <opt data-ng-disabled="vm.createButton" ng-click="vm.createLystoreGroup(item)">
                            <span ng-if="!item.deployed"><i18n>lystore.parameter.deploy</i18n></span>
                            <span ng-if="item.deployed"><i18n>lystore.parameter.undeploy</i18n></span>
                        </opt>
                    </dots-menu>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

</div>
