<div class="card cell left-detail-box" ng-show="display.equipment">
    <div class="add-basket row">
        <h1 class="eight cell twelve-mobile">[[basket.equipment.name]] </h1>
        <div class="right-magnet centered-text">
            <input type="button"  ng-click="addBasketItem(basket)" class="button-add-basket" i18n-value="lystore.add.to.basket" ng-disabled="!validArticle(basket.equipment)" />
        </div>
        <div class="right-magnet centered-text quantity">
            <h4 class="cell"><i18n>lystore.quantity</i18n></h4>
            <i class="moins" ng-click="amountDecrease()"></i>
            <input type="number"
                   step="1"
                   min="0"
                   ng-keypress="avoidDecimals($event)"
                   class="numberWithoutArrow"
                   ng-model="basket.amount" class="three"/>
            <i class="plus" ng-click="amountIncrease()"></i>
        </div>
    </div>

    <div class="twelve cell">
        <div class="five cell twelve-mobile">
            <img class="img-equipment" ng-src="[[basket.equipment.image]]" ng-show="basket.equipment.image!==null && basket.equipment.image!==undefined " />
            <img class="img-equipment" skin-src="/img/illustrations/pages-default.png" ng-show="basket.equipment.image===null || basket.equipment.image===undefined "/>
        </div>
        <div class="seven cell twelve-mobile" >
            <article class="add-basket centered row twelve vertical-spacing twelve-mobile">
                <div class="six row twelve-mobile equipment-detail ">
                    <div class="six cell">
                        <div class="twelve row">
                            <label class="label-cell">
                                <h4>
                                    <i18n>lystore.amount.HT.equipment</i18n>
                                    <span ng-bind="calculatePriceOfEquipmentHT(basket.equipment, false, 2) | currency" ></span>
                                </h4>
                            </label>
                        </div>

                        <div class="twelve row">
                        <label class="label-cell">
                            <h4>
                                <i18n>lystore.amount.TTC.equipment</i18n>
                                <span ng-bind="calculatePriceTTC(calculatePriceOfEquipmentHT(basket.equipment, false, 2), taxes.all[0].value, 2) | currency "></span>
                            </h4>
                        </label>
                    </div>
                        <div class="twelve row">
                            <label class="label-cell">
                                <h4>
                                    <i18n>lystore.tax.equipment</i18n>
                                    <span ng-bind="taxes.all[0].value + '%'"></span>
                                </h4>
                            </label>
                        </div>
                    </div>
                    <div class="six cell">
                        <div class="right-magnet">
                            <h1 class="row" ng-bind="(calculatePriceTTC(calculatePriceOfEquipmentHT(basket.equipment, true, 2), taxes.all[0].value, 2) | currency) + ' TTC'"></h1>
                            <span class="row equipment-detail-recap-ht" ng-bind="(calculatePriceOfEquipmentHT(basket.equipment, true, 2) | currency) + ' HT'"></span>
                        </div>
                    </div>
                </div>
            </article>
            <div ng-show="basket.equipment.description !== null" >
                <h2><i18n>lystore.campaigns.description</i18n></h2>
                <p ng-bind-html="basket.equipment.description"></p>
            </div>
        </div>
    </div>

    <div ng-show="basket.equipment.technical_specs.length !== 0">
        <h2>
            <i18n>SPECIFICATIONS</i18n>
        </h2>
        <div class="row technical-specs">
            <div class="technical-spec twelve row"
                 ng-repeat="technicalSpec in basket.equipment.technical_specs">
                <div class="five cell horizontal-spacing bold">
                    [[technicalSpec.name]]
                </div>
                <div class="six cell horizontal-spacing">
                    [[technicalSpec.value]]
                </div>
            </div>
        </div>
    </div>
    <div ng-show="basket.equipment.options.length !== 0">
        <h2><i18n>lystore.equipment.options</i18n></h2>
        <table class="twelve">
            <thead>
            <td class="one">
                <label class="checkbox" ng-show="thereAreOptionalOptions(basket.equipment)">
                    <input type="checkbox"
                           ng-change="switchAll(alloptionsSelected, basket.equipment.options)"
                           ng-model="alloptionsSelected">
                    <span></span>
                </label>
            </td>
            <td >
                &nbsp;
            </td>
            <td class="three">
                <i18n>lystore.price</i18n>
            </td>
            <td class="three">
                <i18n>lystore.tax</i18n>
            </td>
            <td class="three">
                <i18n>lystore.price.TTC</i18n>
            </td>
            </thead>
            <tbody>
            <tr  ng-repeat="option in basket.equipment.options">
                <td  class="one">
                    <label class="checkbox"  ng-show="!option.required">
                        <input type="checkbox" ng-model="option.selected">
                        <span></span>
                    </label>
                    <label class="checkbox"  ng-show="option.required" >
                        <input type="checkbox" checked disabled>
                        <span></span>
                    </label>
                </td>
                <td >[[option.name]]</td>
                <td class="three">
                    <span ng-bind="calculatePriceOfOptionHT(option, 2) | currency"></span>
                </td>
                <td class="three">
                    <span ng-bind="option.tax_amount + '%'"></span>
                </td>
                <td class="three">
                    <span ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>