<form ng-submit="deleteCampaigns(campaigns.selected)" >
    <h3><i18n>lystore.campaign.delete</i18n></h3>
    <h4><i18n>lystore.campaign.delete.message</i18n></h4>
    <ul>
        <li ng-repeat="campaign in campaigns.selected">[[campaign.name]]</li>
    </ul>
    <div class="row horizontal-margin" ng-show="hasBaskets()">
        <h4 style="margin-bottom: 10px;"><i18n>campaign.basket.alert</i18n></h4>
    </div>
    <ul>
        <li ng-repeat="campaign in campaigns.selected " ng-if="campaign.nb_baskets !== 0">[[campaign.name]]</li>
    </ul>
    <h4 ng-show="hasBaskets()" style="margin-bottom: 10px;"><i18n>campaign.delete.avert</i18n></h4>

    <div class="right-magnet">
        <input type="button" class="cancel" ng-click="display.lightbox.campaign = false;" i18n-value="cancel" />
        <input type="submit" class="button"  i18n-value="confirm"/>
    </div>
</form>