<div class="parameter"  ng-controller="ActiveStructureController as vm">

<div>
    <div>
        <i18>parameter.title.valid.command</i18>
    </div>
    Lorem ipsum Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
</div>
    <div>
    <div>
        <i18>parameter.title.BC</i18>
    </div>
    <div>
        <div>
            bouton img
        </div>
        <div>
            form Addresse
        </div>
        <div>
            aperçu
        </div>
    </div>
        <div>boutons</div>
    </div>
</div>
<div>
    <i18n>parameter.title.export</i18n>
</div>
