<div class="title-delete-lightbox">
    <h2>
    <i18n>lystore.campaign.titles.delete</i18n>
</h2>
    <p>
        <i18n>lystore.campaign.titles.delete.description</i18n>
    </p>
    <p><i18n>CAMPAIGN</i18n>&#32;&#58;&#32;[[campaign.name]]</li>
    </p>
    <p>
    <div ng-repeat="structure in getStructureWithSelectedTitle()">
        <strong>[[structure.name]]&#32;&#58;</strong>
        <ul class="title-delete-lightbox-ul">
            <li ng-repeat="title in structure.titles.selected">
                <i18n>entitled</i18n>&#32;&#58;&#32; <strong>[[title.name]]</strong>
            </li>

        </ul>

    </div>
    </p>
    <div class="row">
        <div class="right-magnet">
            <button class="cancel" ng-click="lightbox.open = false">
                <i18n>cancel</i18n>
            </button>
            <button ng-click="deleteTitles()">
                <i18n>delete</i18n>
            </button>
        </div>
    </div>
</div>