<h2 xmlns:orderEditByRegion="http://www.w3.org/1999/xhtml" xmlns:orderEditByRegion="http://www.w3.org/1999/xhtml"><i class="left-open one cell color-orange size-icon-big" ng-click="redirectTo('/operation')"></i><i18n>lystore.operation.order.management.title</i18n>[[operation.label.label]]</h2>
    <display-order-list
            displayed-orders="ordersClientByOperation"
            is-manager="isManager">
<section class="toggle-buttons" ng-class="{ hide: !isOrderOperationSelected() }">
    <div class="toggle">
        <div class="row">
            <button ng-if="oneOrderSelected() "
                    ng-disabled="!checkStatusAndCode(getSelectedOrder())"
                    ng-click="insertOrderRegion(getSelectedOrder())">
                <i18n>lystore.order.update</i18n>
            </button>
            <button
                    ng-disabled="!checkStatusAndCode(getSelectedOrder())"
                    ng-click="selectOperationForOrder()">
            <i18n>lystore.operation.order.move</i18n>
        </button>
            <button
                    ng-disabled="!checkStatusAndCode(getSelectedOrder())"
                    ng-click="dropOrdersOperation(getSelectedOrders())">
            <i18n>delete</i18n>
        </button>
        </div>
    </div>
</section>
